body
{
	margin: 0px;
}

.big
{
	width: 400px;
	height: 200px;
	margin: -100px 0px 0px -200px;
	background-color: #ccc;
	position: absolute;
	left: 50%;
	top: 50%;
	
}

.left
{
	width: 0px;
	height: 0px;
	padding: 25px;
	background-color: #fc0;
	border-radius: 0px 0px 50px 0px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.right
{
	width: 0px;
	height: 0px;
	padding: 25px;
	background-color: #fc0;
	border-radius: 50px 0px 0px 0px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

